main {
    background-image: url(./imgs/big-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.year {
    max-width: 1090px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;

    &_title {
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-style: Regular;
        font-size: 24px;
        padding-bottom: 36px;
        line-height: 100%;
        letter-spacing: 0%;
    }


    &_content {
        padding-top: 36px;
        display: flex;
        padding-bottom: 36px;
        flex-direction: column;
        align-items: center;
        max-width: 576px;
        width: 100%;

        &--box {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &--form {
                display: flex;
                max-width: 230px;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                background: #D7D7D7;
                box-shadow: 3px 3px 0px 0px #00000040;
                border-radius: 20px;

                &--btn {
                    background: #000000;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    width: 35px;
                    height: 35px;
                    z-index: 2;
                }

                &--input {
                    font-family: Montserrat Alternates;
                    font-weight: 400;
                    font-style: Regular;
                    font-size: 12px;
                    background: #D7D7D7;
                    margin-top: 10px;
                    margin-left: 10px;
                    outline: none;
                    margin-bottom: 10px;
                    color: #7E7E7E;
                    width: 100%;
                    max-width: 175px;
                    border: none;
                    line-height: 100%;
                    letter-spacing: 0%;
                    z-index: 1;
                }
            }

            &--text {
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                line-height: 100%;
                letter-spacing: 0%;
                text-align: right;
            }
        }

        &--title {
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 16px;
            padding-bottom: 36px;
            line-height: 100%;
            letter-spacing: 0%;
        }
    }
}

.guess {
    display: flex;
    padding-top: 36px;
    width: 100%;
    max-width: 576px;
    flex-direction: column;
    padding-bottom: 36px;
    align-items: center;

    &--title {
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-style: Regular;
        padding-bottom: 36px;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    &--content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        &--form {
            display: flex;
            max-width: 158px;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            background: #D7D7D7;
            box-shadow: 3px 3px 0px 0px #00000040;
            border-radius: 20px;
            height: 35px;

            &--btn {
                background: #000000;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                width: 35px;
                height: 35px;
                z-index: 2;
            }

            &--input {
                font-family: Montserrat Alternates;
                font-weight: 400;
                font-style: Regular;
                font-size: 12px;
                background: #D7D7D7;
                margin-top: 10px;
                margin-left: 10px;
                outline: none;
                margin-bottom: 10px;
                color: #7E7E7E;
                max-width: 112px;
                width: 100%;
                border: none;
                line-height: 100%;
                letter-spacing: 0%;
                z-index: 1;
            }
        }

        &--text {
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 12px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: right;
        }
    }
}

.stone {
    max-width: 1090px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;

    &_title {
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        padding-top: 36px;
        padding-bottom: 36px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    &_box {
        max-width: 256px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 36px;
    }

    &_text {
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        padding-bottom: 36px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    &_btn {
        font-family: Montserrat Alternates;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        padding: 10px 20px;
        background: #000000;
        border-radius: 20px;
        color: #fff;
        margin-bottom: 36px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    &_result {
        max-width: 93px;
        display: flex;
        flex-direction: column;
        padding-top: 92px;
        position: absolute;
        right: 25%;

        &--text {
            font-family: Montserrat Alternates;
            font-weight: 400;
            font-style: Regular;
            font-size: 12px;
            line-height: 170%;
            letter-spacing: 0%;
        }
    }
}

.line {
    border: 1px solid #000000;
    max-width: 536px;
    width: 100%;
}